@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.main-frame {
  width: 20vw;
  height: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #fef8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.display {
  width: 100%;
  height: 7vw;
  min-height: 5vw;
  display: flex;
  align-items: center;
  font-size: 2em;
  border: 5px solid;
  border-radius: 24px;
  box-sizing: border-box;
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  padding-left: 10px;
}

.buttons {
  display: grid;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  border-radius: 48px;
  width: 4vw; /* Calculate basis to occupy 25% of the container width with 20px spacing */
  height: 4vw;
  border: none;
  margin: 5px; /* Add margin for spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:hover::before {
  width: 500px;
  height: 500px;
}

.btn:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--yPos);
  left: var(--xPos);
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.15);
  transition: width 0.5s, height 0.5s;
  border-radius: 50%;
  z-index: 0;
}

.ent-btn {
  color: #fff;
  width: 9vw;
  height: 4vw;
  border: none;
  margin: 5px 5px 5px 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  border-radius: 42px;
  transition: color 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ent-btn span {
  position: relative;
  z-index: 1;
}

.ent-btn:hover::before {
  width: 500px;
  height: 500px;
}

.ent-btn::before {
  content: "";
  position: absolute;
  top: var(--yPos);
  left: var(--xPos);
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.15);
  transition: width 0.5s, height 0.5s;
  border-radius: 50%;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .main-frame {
    width: 30vw;
    height: 150vw;
  }
  .display {
    height: 10vw;
    min-height: 7vw;
    font-size: 3em;
  }
  .btn {
    width: 6vw;
    height: 6vw;
    font-size: 1.5em;
  }
  .ent-btn {
    width: 14vw;
    height: 6vw;
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .main-frame {
    width: 40vw;
    height: 200vw;
  }
  .display {
    height: 14vw;
    min-height: 10vw;
    font-size: 4em;
  }
  .btn {
    width: 8vw;
    height: 8vw;
    font-size: 1.5em;
  }
  .ent-btn {
    width: 18vw;
    height: 8vw;
    font-size: 2em;
  }
}

@media screen and (max-width: 550px) {
  .main-frame {
    width: 80vw;
    height: 400vw;
  }
  .display {
    height: 28vw;
    min-height: 20vw;
    font-size: 12em;
  }
  .btn {
    width: 16vw;
    height: 16vw;
    font-size: 2em;
  }
  .ent-btn {
    width: 36vw;
    height: 16vw;
    font-size: 2.5em;
  }
}

@media screen and (max-width: 350px) {
  .main-frame {
    width: 90vw;
    height: 450vw;
  }
  .display {
    height: 32vw;
    min-height: 24vw;
    font-size: 14em;
  }
  .btn {
    width: 18vw;
    height: 18vw;
    font-size: 2em;
  }
  .ent-btn {
    width: 40vw;
    height: 18vw;
    font-size: 2.5em;
  }
}


@media screen and (max-height: 600px) {
  .main-frame {
    flex-direction: row;
    width: 100vw;
    height: 90vh;
  }
  .display {
    width: 40%;
    height: auto;
  }
  .buttons {
    width: 50%;
    height: 100%;
  }
  .btn {
    width: 10vw;
    height: 10vw;
    font-size: 2em;
  }
  .ent-btn {
    width: 24vw;
    height: 10vw;
    font-size: 2.5em;/* Adjust according to your needs */
  }
}

